

.parent {
    height: 300px;
    width: 600px;
    background-color: aqua;
    position: relative;
}

.parent .child {
    height: 100px;
    width: 100px;
    background-color: plum;
    border: 4px solid black;
    display: inline;
    display: inline-block;
    position: absolute;
}

.parent .child:first-child {
    left: 30px;
    top: 50px;
}

.parent .child:nth-child(2) {
    left: 170px;
    top: 50px;
}

.parent .child:nth-child(3) {
    left: 300px;
    top: 50px;
}

.parent .child:nth-child(4) {
    left: 460px;
    top: 50px;
} 
.parent .child:nth-child(5) {
    left: 30px;
    top: 170px;
}
.parent .child:nth-child(6) {
    left: 170px;
    top: 170px;
}
.parent .child:nth-child(7) {
    left: 300px;
    top: 170px;
}
.parent .child:nth-child(8) {
    left: 460px;
    top: 170px;
} 
.parent {
    height: 300px;
    width: 600px;
    background-color: aqua;
    position: relative;
    display: flex;

    /* Align items vertically */
    align-items: start;
    align-items: center;
    align-items: end;

    /* Justify items horizontally */
    justify-content: center;
    justify-content: start;
    justify-content: end;
    justify-content: space-evenly;
    justify-content: space-between;
    justify-content: space-around;
}
.parent .child {
    height: 100px;
    width: 100px;
    background-color: plum;
    border: 4px solid black;
} 


.parent {
    height: 300px;
    width: 600px;
    background-color: aqua;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    flex-direction: row-reverse;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-wrap: wrap-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.parent .child {
    height: 100px;
    width: 100px;
    background-color: plum;
    border: 4px solid black;
    font-size: 95px;
    text-align: center;
}


.navbar {
    height: 80px;
    background-color: rgb(167, 56, 78);
    display: flex;
    align-items: center;
}
.navbar {
    height: 80px;
    background-color: rgb(167, 56, 78);
    display: flex;
    align-items: center;
    justify-content: left;
}

.navbar a {
    list-style: none;
    padding-left: 20px;
    font-size: 30px;
    color: yellow;
    text-decoration: none;
}
